.headline {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1 0 200px;

    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    cursor: pointer;
}

.image {
    width: 250px;
}

.icon {
    font-size: 22px;
}

.buttons {
    flex: 1 0 200px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon, .cart {
    font-size: 28px;
    color: #b211ca;
}

.cart {
    padding-right: 35px;
}

span {
    cursor: pointer;
}

@media (max-width: 1152px) {
    .buttons {
        justify-content: center;
    }

    .logo {
        justify-content: center;
    }
}
