<div class="headline background">
    <div class="logo">
        <img class="image" src="images/logo.png" alt="Logotype" onclick="location.href='/'">
    </div>

    <div class="buttons">
        <span class="cart oi oi-cart" onclick="location.href='/cart'"></span>

        <AuthorizeView>
            <Authorized>
                <span class="icon oi oi-person" onclick="location.href='/profile'"></span>
            </Authorized>

            <NotAuthorized>

                <span class="icon oi oi-person" onclick="location.href='/accounts/login/find'"></span>

            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>