.notifications {
    padding: 20px;
    font-size: 28px;
    color: #b211ca;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    color: deeppink;
    font-weight: bold;
    align-items: flex-start;
    font-size: 18px;
    margin-bottom: -10px;
}       