@page "/management"

<div class="management">
    <div class="buttons">
        <div class="users background">
            <button class="btn btn-primary w-100" onclick="location.href='/management/users'">Users</button>
        </div>
        <div class="products background">
            <button class="btn btn-primary w-100" onclick="location.href='/management/products'">Products</button>
        </div>
    </div>
</div>