.search {
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products {
    display: flex;
    flex-direction: column;
}

.product {
    padding: 20px;
    margin-bottom: 10px;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.text img {
    border-radius: 16px;
    width: 10%;
}

.text--value {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.buttons {
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

.paging {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}   
