@page "/accounts/login/default"

<Row Flex="Flex.JustifyContent.Center.AlignItems.Center" Margin="Margin.Is5.FromTop">
    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
        <Card>
            <CardHeader>
                <CardTitle>Login</CardTitle>
            </CardHeader>
            <CardBody>
                <EditForm Model="@DefaultLoginDto" OnValidSubmit="LoginAction">
                    <Validations @ref="_validations" ValidateOnLoad="false" Mode="ValidationMode.Auto" Model="DefaultLoginDto">
                        <DataAnnotationsValidator/>
                        <Validation>
                            <Field>
                                <FieldLabel>Username or email address</FieldLabel>
                                <FieldBody>
                                    <TextEdit Placeholder="Enter username or email address" @bind-Text="@DefaultLoginDto.Login" disabled>
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>Password</FieldLabel>
                                <FieldBody>
                                    <TextEdit Role="TextRole.Password"
                                              Placeholder="Enter password" @bind-Text="@DefaultLoginDto.Password">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Button Color="Color.Primary" Type="ButtonType.Submit">Log in</Button>
                    </Validations>
                </EditForm>
            </CardBody>
            <CardFooter>
                <Link To="/accounts/password/reset">Forgot password?</Link>
            </CardFooter>
        </Card>
    </Column>
</Row>