@page "/accounts/password/reset/confirmation"

<div class="reset background">
    <div class="form">
        <EditForm Model="PasswordResetDto" OnValidSubmit="ResetAction">
            <DataAnnotationsValidator/>

            <div class="content">
                <div class="title">
                    <h2>Reset Password</h2>
                </div>

                <div class="fields">
                    <div>
                        <label class="form-label" for="@PasswordResetDto.NewPassword">New password</label>
                        <InputText class="form-control" type="password" @bind-Value="PasswordResetDto.NewPassword"/>
                        <ValidationMessage For="@(() => PasswordResetDto.NewPassword)"></ValidationMessage>
                    </div>
                    <div>
                        <label class="form-label" for="@PasswordResetDto.ConfirmPassword">Confirm password</label>
                        <InputText class="form-control" type="password" @bind-Value="PasswordResetDto.ConfirmPassword"/>
                        <ValidationMessage For="@(() => PasswordResetDto.ConfirmPassword)"></ValidationMessage>
                    </div>
                </div>

                <div class="buttons">
                    <button class="btn btn-primary" type="submit">Reset</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>