@page "/cart"

<div class="cart">
    <div class="header background">
        <div class="total-price">
            <span class="total-price--key">Total price:</span>

            <span class="total-price--value">$@CartService.GetCartPrice(CartItems)</span>
        </div>

        <div>
            <button class="btn btn-primary" onclick="location.href='/order'">Order</button>

            <button class="btn btn-danger" style="margin-left: 10px" @onclick="ClearAction">Clear</button>
        </div>
    </div>

    <div class="container">
        @foreach (var item in CartItems)
        {
            <div class="item background">
                <img src="@item.Product.ImageUrl" alt="product img">

                <div class="text">
                    <ul class="text-keys">
                        <li>Title:</li>

                        <li class="text-keys--quantity">Quantity:</li>

                        <li class="text-keys--price">Price:</li>
                    </ul>

                    <ul class="text-values">
                        <li class="text-values--title">@item.Product.Name</li>

                        <li class="text-values--quantity">
                            <InputNumber class="form-control"
                                         min="1" TValue="int"
                                         ValueExpression="() => item.Quantity"
                                         Value="item.Quantity"
                                         ValueChanged="value => { item.Quantity = value; CartService.SaveCart(CartItems); }"/>
                        </li>

                        <li class="text-values--price">$@(item.Quantity * item.Product.Price)</li>
                    </ul>
                </div>

                <div class="buttons">

                    <button class="btn btn-primary" style="margin-right: auto;" @onclick="() => ViewAction(item)">View</button>

                    <button class="btn btn-danger" @onclick="() => DeleteAction(item)">Delete</button>
                </div>
            </div>
        }
    </div>
</div>