.layout {
    margin: 10px;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.body {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.sider {
    flex: 0 1 18%;
    margin-right: 10px;
}

.content {
    flex: 1 2 82%;
}