@page "/profile/email/change"

<Row Flex="Flex.JustifyContent.Center.AlignItems.Center" Margin="Margin.Is5.FromTop">
    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
        <Card>
            <CardHeader>
                <CardTitle>Email address change</CardTitle>
            </CardHeader>
            <CardBody>
                <EditForm Model="@EmailDto" OnValidSubmit="SendCodesAction">
                    <Validations @ref="_validations" ValidateOnLoad="false" Mode="ValidationMode.Auto" Model="EmailDto">
                        <DataAnnotationsValidator/>
                        <Validation>
                            <Field>
                                <FieldLabel>New email address</FieldLabel>
                                <FieldBody>
                                    <TextEdit Placeholder="Enter new email address" @bind-Text="@EmailDto.Email">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Button Color="Color.Primary" Type="ButtonType.Submit">Send confirmation codes</Button>
                    </Validations>
                </EditForm>
            </CardBody>
        </Card>
    </Column>
</Row>