@page "/profile/email/change/confirmation"

<div class="email-change background">
    <div class="form">
        <EditForm Model="EmailChangeDto" OnValidSubmit="ChangeEmailAction">
            <DataAnnotationsValidator/>

            <div class="content">
                <div class="title">
                    <h2>Email change</h2>
                </div>

                <div class="fields">
                    <div>
                        <label class="form-label mt-2" for="@EmailChangeDto.CurrentConfirmationCode">Code from current email</label>
                        <InputText class="form-control" type="text" @bind-Value="EmailChangeDto.CurrentConfirmationCode"/>
                        <ValidationMessage For="@(() => EmailChangeDto.CurrentConfirmationCode)"></ValidationMessage>
                    </div>

                    <div>
                        <label class="form-label mt-2" for="@EmailChangeDto.NewConfirmationCode">Code from new email</label>
                        <InputText class="form-control" type="text" @bind-Value="EmailChangeDto.NewConfirmationCode"/>
                        <ValidationMessage For="@(() => EmailChangeDto.NewConfirmationCode)"></ValidationMessage>
                    </div>
                </div>

                <div class="buttons">
                    <button class="btn btn-primary" type="submit">Change</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>