@page "/profile/email/change/confirmation"

<Row Flex="Flex.JustifyContent.Center.AlignItems.Center" Margin="Margin.Is5.FromTop">
    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
        <Card>
            <CardHeader>
                <CardTitle>Email address change</CardTitle>
            </CardHeader>
            <CardBody>
                <EditForm Model="@EmailChangeDto" OnValidSubmit="ChangeEmailAction">
                    <Validations @ref="_validations" ValidateOnLoad="false" Mode="ValidationMode.Auto" Model="EmailChangeDto">
                        <DataAnnotationsValidator/>
                        <Validation>
                            <Field>
                                <FieldLabel>Code from current email address</FieldLabel>
                                <FieldBody>
                                    <TextEdit Placeholder="Enter code from current email address" @bind-Text="@EmailChangeDto.CurrentConfirmationCode">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>Code form new email address</FieldLabel>
                                <FieldBody>
                                    <TextEdit Placeholder="Enter code form new email address" @bind-Text="@EmailChangeDto.NewConfirmationCode">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Button Color="Color.Primary" Type="ButtonType.Submit">Change email</Button>
                    </Validations>
                </EditForm>
            </CardBody>
        </Card>
    </Column>
</Row>