.profile {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.form {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.content {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 25px;
    color: #b211ca;
}

.fields {
    margin-top: 15px;
    margin-bottom: 15px;
}

.content__buttons {
    margin-bottom: 10px;
}